{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}

<div class="blankSeparator"></div>
<div class="container">

  <h2>Insertion d'un Gestionnaire</h2>
  <div id="contactForm">
      {{form(form)}}


 <div class="sepContainer"></div>
</div>

{%endblock%}