{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}

<div class="blankSeparator"></div>
 <div class="container">
  <h2>Jardin P&eacute;dagogique de Vulaines-sur-Seine</h2>
  <p>
   Place aux enfants qui font pousser eux-m&egrave;mes les l&eacute;gumes et les fleurs !
  </p>
  <p>Les salari&eacute;s pr&eacute;parent des espaces pour la culture aux diff&eacute;rentes
   classes des &eacute;coles.<br />
   Le jardin p&eacute;dagogique accueille les enfants du Centre de Loisirs et des &eacute;coles.
   Chaque classe, du CP au CM2, se rend sur les terrains qui lui r&eacute;serv&eacute;s.
   </p>
   <p>
    Les membres de l'Association partenaire "Arts et Loisirs au Jardin" prennent plaisir &agrave;
    assurer d&eacute;couverte et formation aux enfants &eacute;merveill&eacute;s. Le mercredi est r&eacute;serv&eacute;
    aux enfants du Centre de Loisirs.
   </p>      
   <div class="sepContainer"></div>
 </div>
</div>
<div class="blankSeparator1"></div>

{%endblock%}
