{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}
<div class="blankSeparator"></div>
<div class="container resume">
 <div class="info">
  
  <div class="one_third">
   <h2>&nbsp;Objet de l'association</h2>
   <p>
    <span style="font-style: italic;font-weight: bold;">
     &nbsp;Cette association a pour but l'&eacute;coute des personnes en difficult&eacute;s et l'aide aux familles d&eacute;favoris&eacute;es
     par le biais d'un centre de redistribution alimentaire et non-alimentaire dans un lieu d'accueil, d'&eacute;changes, de convivialit&eacute;,
     d'accompagnement socio-&eacute;ducatif, d'un site d'h&eacute;bergement et de tout autre moyen permettant de r&eacute;pondre aux besoins
     de ces personnes.
    </span>     
   </p>
   <img alt="" src="./images/epicerie_solidaire.jpg" /> 
  </div>
  
  <div class="two_third lastcolumn">
   <div class="one_half">
   <h2>Pr&eacute;sentation globale</h2>
    <p>
     Notre &eacute;picerie solidaire a pour objectif d'apporter une aide alimentaire &agrave; des personnes en difficult&eacute;s tout
     en respectant leur autonomie et en favorisant leur participation active. L'espace est am&eacute;nag&eacute; en libre-service comme un magasin
     d'alimentation g&eacute;n&eacute;rale. L'alimentation est un moyen pour les structures d'aborder d'autres sujets comme la sant&eacute;,
     l'&eacute;ducation, le logement, la culture, l'emploi et la gestion du quotidien.<br /><br />
     Elle propose une aide alimentaire participative &agrave; hauteur de 10 &agrave; 30% du prix habituel. Les b&eacute;n&eacute;ficiaires ont la
     libert&eacute; de choisir les produits propos&eacute;s. C'est un lieu qui permet de cr&eacute;er un lien social par l'&eacute;coute et
     le partage. Cela valorise les comp&eacute;tences et les savoir-faire des personnes accueillies et contribue &agrave; am&eacute;liorer
     la confiance et l'estime de soi.<br /><br />
     Le respect de la dignit&eacute; des personnes, la confidentialit&eacute;, la bienveillance et le non jugement sont des r&egrave;gles
     incontournables. Les salari&eacute;s et b&eacute;n&eacute;voles s'engagent &agrave; ne pas divulguer des informations confidentielles
     et personnelles sur les adh&eacute;rents.<br /><br />
     Le r&eacute;glement int&eacute;rieur sera &eacute;tabli en accord avec la charte de l'ANDES. Tout sera mis en oeuvre pour contribuer au
     d&eacute;veloppement du public accueilli. Les utilisateurs de l'&eacute;picerie adh&eacute;reront au projet et seront donc adh&eacute;rents
     &agrave; l'&eacute;picerie..<br /><br />
     D'apr&egrave;s l'Association Nationale de D&eacute;veloppement pour les &Eacute;piceries Solidaires (ANDES) : <br /><br /> 
     
     <span style="font-weight:bold; font-style:italic;">
      La mission de l'&eacute;picerie sociale/solidaire est de contribuer &agrave; l'insertion durable des personnes en situation de
      difficult&eacute; financi&egrave;re et de faciliter leur acc&egrave;s au droit commun."
     </span> 
    </p>
   </div>
   <div class="one_half lastcolumn">
   <h2>Situation</h2>
   <p>
    Le choix s'est port&eacute; sur la commune de Vulaines-sur-Seine qui se trouve &agrave; la crois&eacute;e de trois communaut&eacute;s
    de communes : Les Pays de Fontainebleau (Fontainebleau-Avon, Samois-sur-Seine), Entre Seine et For&ecirc;t (Machault, Vulaines-sur-Seine,
    Samoreau et H&eacute;ricy) et Moret Seine & Loing (dont les principales communes sont : Veneux-les-Sablons, Champagne-sur-Seine et Thomery).
   </p>
   <h2>Plan</h2>
   <p>
    L'&eacute;picerie solidaire se situera &agrave; c&ocirc;t&eacute; du mus&eacute;e St&eacute;phane Mallarm&eacute; &agrave; Vulaines-sur-Seine.
    Elle est accessible par les bus 4, 5 et 6 partants de la gare routi&egrave;re de Fontainebleau-Avon (arr&ecirc;t Mallarm&eacute;).<br />
    De plus, l'association, faisant partie de la Communaut&eacute; de Communes Entre Seine et For&ecirc;t, (H&eacute;ricy, Samoreau,
    Vulaines-sur-Seine) b&eacute;n&eacute;ficiera d'un minibus de neuf places pour transporter les b&eacute;n&eacute;ficiaires d&eacute;munis
    de moyen de transport.<br /><br />
    La totalit&eacute; du local repr&eacute;sente environ 85m&sup2;. Les locaux &eacute;tant vide, des travaux sont &agrave; pr&eacute;voir.<br />
    Cela permettra &agrave; l'association d'&eacute;tablir un am&eacute;nagement qui lui est propre, tout en respectant les normes d'hygi&egrave;nes
    et de s&eacute;curit&eacute; propre &agrave; ce type d'&eacute;tablissement. Cinq pi&egrave;ces sont pr&eacute;vues :<br /><br />
    - L'&eacute;picerie (40m&sup2;)<br />
    - Une r&eacute;serve (15m&sup2; environ)<br />
    - Un coin accueil avec une kitchenette (15m&sup2;)<br />
    - Un bureau (9m&sup2;)<br />
    - Des toilettes handicap&eacute;es (6m&sup2;)
   </p>
   <h2>Adresse</h2>
   <p>
    <span style="text-decoration:underline;">Epicerie :</span> Solidarit&eacute; D&eacute;m&eacute;ter<br />
    Quai St&eacute;phane MALLARME - 77870 Vulaines-sur-Seine<br /><br />
    <span style="text-decoration:underline;">T&eacute;l&eacute;phone : 01.60.74.06.82</span><br /><br />
    <span style="text-decoration:underline;">Si&egrave;ge social :</span> Solidarit&eacute; D&eacute;m&eacute;ter<br />
    Maison de la Solidarit&eacute;<br />
    3, route de Barbeau - 77850 HERICY<br />
    <span style="text-decoration:underline;">T&eacute;l&eacute;phone :</span> 06.94.40.04<br />
    <span style="text-decoration:underline;">Mail :</span> solidarite.demeter@gmail.com
   </p>
  </div>
 </div>
</div>
</div>
<div class="blankSeparator"></div>
{%endblock%}

