{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}
<div class="blankSeparator"></div>
<div class="container">
 <h2>Fonctionnement de l'association</h2>
 <div class="sepContainer"></div>
</div>
 
<div class="container">
 <div class="info">
  <div class="one_third">
   <h2>Historique</h2>
   <p>Cr&eacute;&eacute;e le 24 avril 1992, l'association est r&eacute;gie par la loi cadre du 1er juillet 1901.</p>
   <p>Depuis 20 ans, sous l'impulsion et la volont&eacute; des fondateurs et de quelques b&eacute;n&eacute;voles, Les Jardins de
    D&eacute;m&eacute;ter ont su gagner la confiance des partenaires et offrir &agrave; plus de 700 personnes d&eacute;munies
    une chance de r&eacute;insertion. <br />
    D&egrave;s le d&eacute;part, un partenariat avec la Fondation Cognacq-Jay et le soutien de la commune de Samoreau
    ont permis &agrave; des personnes en grandes difficult&eacute;s de mettre en place sur un terrain de 6 000m&sup2; une
    culture mara&icirc;ch&egrave;re et la r&eacute;habilitation de deux serres.<br />
    En 2000, l'association acquiert le statut de structure mixte d&eacute;bouchant sur un financement jusqu'&agrave; 30% de son budget
    par la vente, &agrave; ses adh&eacute;rents (plus de 100 en 2001) de la production mara&icirc;ch&egrave;re.
   </p>
  </div>
  <div class="two_third lastcolumn">
   <div class="one_half">
    <p>A partir de 2002, s'op&egrave;re une r&eacute;organisation avec la fin du partenariat entre la Fondation Cognacq-Jay
     et l'association Les Jardins de D&eacute;m&eacute;ter qui conduit au transfert des activit&eacute;s de l'association
     sur des terrains mis &agrave; disposition par la commune de Vulaines-sur-Seine puis en 2005 par la Communaut&eacute;
     de Commune "Entre Seine et For&ecirc;t" compos&eacute;e des communes H&eacute;ricy-Samoreau-Vulaines.<br />
     Ces terrains ont permis la cr&eacute;ation d'un jardin p&eacute;dagogique et d'une p&eacute;pini&egrave;re, la
     r&eacute;habilitation d'un parc arbor&eacute; de 11ha, et depuis 2005 le d&eacute;marrage d'activit&eacute;s de
     mara&icirc;chage sur environ 5 000m&sup2; et la mise en place d'un chalet en bois pour abriter les services administratifs.<br />
     Au second semestre 2007, l'association a lanc&eacute; son deuxi&grave;me site d'activit&eacute;s au domaine des Trois Rodes,
     sur un terrain mis &agrave; disposition par la SPA afin d'accueillir le public en difficult&eacute; de la r&eacute;gion de Melun.<br />
     Un centre d'h&eacute;bergement &agrave; H&eacute;ricy a lui aussi vu le jour : il accueille des r&eacute;sidents &agrave; temps plein dans
     des studios et sert d'accueil d'urgence.
    </p> 
   </div>
   <div class="one_half lastcolumn">
    <h2>Organigramme</h2>
    <p>
     <img src="{{asset('./images/association/orga.jpg')}}" alt="" /><br />
     <a href="{{asset('./images/association/organigramme.jpg')}}" title="" class="buttonhome">&rarr; T&eacute;l&eacute;charger</a>
    </p> 
    <h2>Rapports et Bilans</h2>
    <p>
     <img src="{{asset('./images/association/bilan.jpg')}}" alt="" /><br />
     <a href="" title="" class="buttonhome">&rarr; T&eacute;l&eacute;charger</a>
    </p> 
   </div>     
  </div>
 </div>
</div>
{%endblock%}