{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}


<div class="blankSeparator"></div>
<div class="container resume">
 <div class="info"> 
  <div class="one_third">
   <h2>&nbsp;Objectifs</h2>
   <p>&nbsp;Le Groupe D&eacute;m&eacute;ter a trois <span class="red" style="font-weight: bold;">objectifs :</span></p>
   <p>
    &nbsp;&rarr; <span style="font-style: italic;font-weight: bold;">Offrir</span> &agrave; des personnes en grande difficult&eacute;
    (b&eacute;n&eacute;ficiaires de minima sociaux adress&eacute;s
    par les Maisons des Solidarit&eacute;s - P&ocirc;le Emploi et AVE) la possibilit&eacute; de
    reprendre contact avec le monde du travail<br /> 
    &nbsp;&rarr; <span style="font-style: italic;font-weight: bold;">Permettre</span> &agrave; chacun, socialisation gr&agrave;ce &agrave; des formations, &agrave;
    une exp&eacute;rience de vie collective structurante
    et valorisante, de retrouver sa place dans la soci&eacute;t&eacute; par des activit&eacute;s de
    r&eacute;habilitation de terrains,
    de culture mara&icirc;ch&egrave;re, de cr&eacute;ation et d'animation de jardins p&eacute;dagogiques,
    etc...<br /> 
    &nbsp;&rarr; <span style="font-style: italic;font-weight: bold;">Accompagner</span> ces personnes vers un emploi p&eacute;renne     
   </p>
   <img alt="" src="{{asset('./images/association/association.jpg')}}" /> 
  </div>
  <div class="two_third lastcolumn">
   <div class="one_half">
   <h2>Nous soutenir</h2>
    <p>Il est possible de soutenir le Groupe D&eacute;m&eacute;ter de diff&eacute;rentes mani&egrave;res, alors
     n&#8217;h&eacute;sitez pas&nbsp;!</p>
   <h2>Devenir Adh&eacute;rent</h2>
    <p>Du printemps au d&eacute;but de l&#8217;automne nous organisons des petits march&eacute;s vous permettant
     d&#8217;acheter les fruits et l&eacute;gumes cultiv&eacute;s par nos salari&eacute;s. Chaque semaine nous vous
     proposerons des produits frais et de saison, cultiv&eacute;s sans pesticides. La cotisation annuelle est de 30&euro;,
     le panier hebdomadaire est propos&eacute; &agrave; 4&euro;. Ce dernier peut &ecirc;tre compos&eacute; de salades, c&ocirc;tes de blettes,
     courgettes, concombres, tomates, rhubarbes, choux, fruits rouges, herbes aromatiques, condiments...
     La composition de votre panier varie en fonction de la saison, des r&eacute;coltes et &eacute;galement de la main
     verte de nos &eacute;quipes&nbsp;!
    </p>
   </div>
   <div class="one_half lastcolumn">
    <h2> Faire un don </h2>
    <p>Il vous est &eacute;galement possible de faire un don, soit financier soit mat&eacute;riel. En effet Les Jardins de
     D&eacute;m&eacute;ter sont en constant besoin d&#8217;outils de jardinage, de mat&eacute;riel d&#8217;&eacute;lectrom&eacute;nager
     pour am&eacute;liorer le quotidien de nos salari&eacute;s et de financements. N&#8217;h&eacute;sitez pas &agrave; nous contacter pour
     plus d&#8217;informations&nbsp;!</p>
    <h2> Devenir b&eacute;n&eacute;vole </h2>
    <p>Vous pouvez &eacute;galement participer activement &agrave; la vie des Jardins de D&eacute;m&eacute;ter en devenant
     b&eacute;n&eacute;vole &agrave; nos cot&eacute;s et en nous aidant selon vos domaines de pr&eacute;dilections.</p>
    <p>Pour plus de renseignements, vous pouvez nous contacter en cliquant sur "CONTACT", nous vous attendons&nbsp;!</p></div>
  </div>
 </div>  
</div>
{%endblock%}