{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}

<div class="blankSeparator"></div>
<div class="container">
 <div class="two_third">
  <section class="aboutoneleft">
   <h2>Qu'est-ce qu'un Atelier et Chantier d'Insertion ?</h2>
    <p>Les ateliers et chantiers d'insertion sont des dispositifs conventionn&eacute;s par l'Etat,
     relevant de l'insertion par l'activit&eacute; &eacute;conomique. L'appellation "ateliers et chantiers d'insertion"
     recouvre un dispositif unique&nbsp;:&nbsp;il n'y a aucune distinction entre ateliers et chantiers d'insertion.
    </p>
    <p>
     Les ACI associent une mission d'insertion &agrave; un projet &eacute;conomique. Ils proposent &agrave; des personnes
     tr&egrave;s &eacute;loign&eacute;es de l'emploi une premi&egrave;re &eacute;tape de r&eacute;insertion professionnelle,
     par la production de biens et de services d'utilit&eacute; sociale (espaces verts, recyclage, nettoyage, b&acirc;timent, etc.)
     &agrave; la limite des 30% de chiffre d'affaire commercial autoris&eacute;e par la loi.
    </p>
    <p>
     Les ateliers et chantiers d'insertion peuvent &ecirc;tre organis&eacute;s ponctuellement (chantier de r&eacute;novation de
     b&acirc;timent, par exemple) ou de mani&egrave;re permanente. L'ACI "organise le suivi, l'accompagnement, l'encadrement
     technique et la formation de ses salari&eacute;s en vue de faciliter leur insertion sociale et de rechercher les
     conditions d'une insertion professionnelle durable".
    </p>
    <img alt="" src="{{asset('./images/association/processus.jpg')}}" />
  </section>
 </div>
  <div class="one_third lastcolumn">
   <section class="aboutoneright">
    <h2>Cadre l&eacute;gal et juridique</h2>
     <p>Il y a deux textes cadres :</p>
     <p style="color: rgb(100, 120, 132);font-style: italic;font-weight: bold;">
      <img class="raster" src="{{asset('./images/raster.png')}}" alt=""/>
      La loi de 1998 de lutte contre l'exclusion qui fixe le cadre l&eacute;gal d'intervention de l'Insertion par l'Activit&eacute;
      &Eacute;conomique (I.A.E.) et l'inscrit dans le Code du Travail.
     </p>
     <p>Cette loi cr&eacute;e un cadre juridique g&eacute;n&eacute;ral reposant sur trois principes majeurs :</p>
     <p>
      => un conventionnement syst&eacute;matique de toutes les structures de l'I.A.E. avec l'&Eacute;tat<br />
      => un agr&eacute;ment pr&eacute;alable des publics par le P&ocirc;le Emploi<br />
      => un pilotage local de l'ensemble du dispositif assur&eacute par un Conseil D&eacute;partemental de l'Insertion
      par l'Activit&eacute; &Eacute;conomique (C.D.I.A.E.), sous la responsabilit&eacute; du repr&eacute;sentant de l'&Eacute;tat.
     </p>
     <p style="color: rgb(100, 120, 132);font-style: italic;font-weight: bold;">
      <img class="raster" src="{{asset('./images/raster.png')}}" alt=""/>
      Le plan Borloo de coh&eacute;sion sociale de 2005 r&eacute;affirme le r&ocirc;le de l'I.A.E. comme acteur &agrave;
      part enti&egrave;re dans la lutte contre l'exclusion et le ch&ocirc;mage. Elle alloue de nouveaux moyens aux S.I.A.E.,
      notamment aux chantiers et ateliers d'insertion.
     </p>  
   </section>
  </div>
</div>

<div class="container">
 <div class="sepContainer1"></div>
  <!-- Toggle -->
  <h2>Les Processus</h2>
  <div class="toggle-trigger">Recrutement du salari&eacute; | Accueil | Int&eacute;gration</div>
  <div class="toggle-container">
   <p>
    <table style="color:#000000;width:100%;">
     <tr>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Outils et moyens en interne</th>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Outils et moyens des partenaires</th>
     </tr>
     <tr>
      <td style="border:1px solid black;">
       &nbsp;Entretien avec l'encadrement technique, l'animatrice sociale et un administrateur
      </td>
      <td style="border:1px solid black;">
       &nbsp;Proposition des AVE et sollicitation des MDS
      </td>
     </tr>
     <tr>
      <td style="border:1px solid black;">
       &nbsp;Visualisation des axes de travail du site, &eacute;changes avec les salari&eacute;s pr&eacute;sents sur le site
      </td>
      <td style="border:1px solid black;">
       &nbsp;De fa&ccedil;on exceptionnelle, des partenaires peuvent &ecirc;tre pr&eacute;sents lors de ces phases de recrutement
      </td>
     </tr>
     <tr>
      <td style="border:1px solid black;">
       &nbsp;&Eacute;changes avec le secr&eacute;taire g&eacute;n&eacute;ral sur le potentiel en ad&eacute;quation avec
       les objectifs souhait&eacute;s par les AVE et le salari&eacute; potentiel.
       Validation ou invalidation du recrutement
      </td>
      <td style="border:1px solid black;">
       &nbsp;&Eacute;changes avec l'AVE concern&eacute; par le suivi pour clarification des objectifs ou mise en place
       d'un suivi adaptatif en fonction des &eacute;l&eacute;ments fournis par le salari&eacute;
       (addiction et sa prise en charge, gestion des probl&egrave;mes de transport, gestion de la charge de travail,
       gestion de la relation entre les individus, compl&eacute;ter les objectifs non inscrits sur les fiches de liaison
       comme la recherche d'un logement ou la gestion d'un probl&egrave;me de sant&eacute; ou d'un probl&egrave;me familial)
      </td>
     </tr>
    </table>
   </p>
   <h3>Commentaires sur la r&eacute;alisation :</h3>
   <p style="color:#000000;">
    Les phases de recrutement sont n&eacute;cessaires afin de positionner au mieux l'objectif du salari&eacute;
    et son suivi avec des entretiens r&eacute;guliers permettant de couvrir les objectifs de d&eacute;part.
    Remise d'un livret d'accueil avec r&egrave;glement int&eacute;rieur, contrat de travail et fiche d'&eacute;volution, etc...
   </p>
  </div>
  <div class="toggle-trigger">Accompagnement en parcours</div>
  <div class="toggle-container">
   <p>
    <table style="color:#000000;width:100%;">
     <tr>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Actions mises en place r&eacute;alisations</th>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Outils et moyen en interne</th>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
      Outils et moyens des partenaires</th>
     </tr>
     <tr>
      <td style="border:1px solid black;">
       &nbsp;Suivi collectif du salari&eacute;
      </td>
      <td style="border:1px solid black;">
       &nbsp;R&eacute;unions collectives avec le secr&eacute;taire g&eacute;n&eacute;ral et l'ensemble
       de l'&eacute;quipe pour d&eacute;finir les charges de travail, motiver les salari&eacute;s en contrat
       aid&eacute;, rappeler leurs obligations et montrer cette solidarit&eacute;.
      </td>
      <td style="border:1px solid black;">
       &nbsp;Mise en place de stage de formation collective
      </td>
     </tr> 
     <tr>
      <td style="border:1px solid black;">
       Suivi individuel du salari&eacute;
      </td>
       <td style="border:1px solid black;">
        Point hebdomadaire avec chaque salari&eacute; et l'animatrice sociale pour effectuer le bilan de la semaine
        et r&eacute;ajuster, d&eacute;finir les objectifs de la semaine en insertion et proposer des ouvertures comme
        des stages en immersion et des suivis personnalis&eacute;s aupr&egrave;s de partenaires acteurs du chantier
        d'insertion
       </td>
       <td style="border:1px solid black;">
        Transmission r&eacute;guli&egrave;re avec mise au point de la situation du salari&eacute;
        Recherche avec le r&eacute;seau de stages d'immersion ou d'obtention d'emploi
        Mise en place de projets de formation individuelle (permis de conduire, alphab&eacute;tisation)
       </td>
      </tr>
      <tr>
       <td style="border:1px solid black;">
        Suivi du salari&eacute;<br />
        Hors de la pr&eacute;sence du salari&eacute; avec l'encadrant technique, l'animatrice sociale et son assistante
        afin de suivre l'&eacute;volution et de connaitre le fonctionnement du salari&eacute; dans sa globalit&eacute;
       </td>
       <td style="border:1px solid black;">
        R&eacute;union le vendredi apr&egrave;s-midi avec compte-rendu
       </td>
       <td style="border:1px solid black;">
        Restitution aupr&egrave;s des partenaires
       </td>
      </tr>
      <tr>
       <td style="border:1px solid black;">
        Suivi du salari&eacute;
        <br>Restitution de la synth&egrave;se des &eacute;changes r&eacute;alis&eacute;s avec les permanents
       </td>
       <td style="border:1px solid black;">
        Animatrice sociale ou encadrant technique
       </td>
       <td style="border:1px solid black;">
        Restitution aupr&egrave;s des partenaires
       </td>
      </tr>
     </table>
    </p>
  
    <h3>Commentaires sur la r&eacute;alisation :</h3>
    <p style="color:#000000;">
     Les comit&eacute;s de suivi et de pilotage restent toujours un temps d'&eacute;change entre tous les partenaires
     qui ensemble permettent de trouver des solutions envers le public. La richesse de notre r&eacute;seau
     (16 correspondants pr&eacute;sents lors du dernier comit&eacute;) est un vrai plus, r&eacute;seau connaissant le public.
    </p>
   </div>
   <div class="toggle-trigger">Pr&eacute;paration &agrave; la sortie</div>
    <div class="toggle-container">
     <p>
      <table style="color:#000000;width:100%;">
       <tr>
        <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
         Actions mises en place r&eacute;alisations</th>
        <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
         Outils et moyen en interne</th>
        <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
         Outils et moyens des partenaires</th>
       </tr>
       <tr>
        <td style="border:1px solid black;">
         &nbsp;Pr&eacute;paration &agrave; la sortie du salari&eacute;<br>
         &nbsp;Collectif individuel
        </td>
        <td style="border:1px solid black;">
         &nbsp;Tout au long de son parcours, il est propos&eacute; au salari&eacute; ateliers collectifs
         r&eacute;alis&eacute;s par la MSA ou d'autres organismes de formation
        </td>
        <td style="border:1px solid black;">
         &nbsp;Mise en place avec P&ocirc;le Emploi et Mission Locale d'un atelier de recherches d'emplois
        </td>
       </tr>
       <tr>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;">
         &nbsp;Organisation et confrontation lors d'&eacute;changes de r&eacute;unions de reflexions tourn&eacute;es
         vers l'optimisation d'une sortie<br>
         &nbsp;D&egrave;s le d&eacute;but du contrat nous mettons en oeuvre le r&eacute;seau pour &eacute;viter la long&eacute;vit&eacute;
         du salari&eacute; sur site<br>
         &nbsp;Il faut imp&eacute;rativement que le salari&eacute; s'aper&ccedil;oive qu'il se trouve dans une phase transitoire
         et qu'&agrave; tout moment il puisse partir
        </td>
        <td style="border:1px solid black;">
         &nbsp;Recherche dans le secteur non marchand des activit&eacute;s de mara&icirc;chage et d'horticulture
        </td>
       </tr>
       <tr>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;">
         &nbsp;<u>1er axe, les chantiers ext&eacute;rieurs</u><br>
         &nbsp;Lors de ces chantiers, le rythme de travail qui est propos&eacute; est diff&eacute;rent et n&eacute;cessite
         une motivation et une pr&eacute;sence physique.<br>
         &nbsp;Ces &eacute;quipes de 2 ou 3 personnes sont chang&eacute;es r&eacute;guli&egrave;rement.<br>
         &nbsp;<u>2&egrave;me axe, l'entreprise en immersion</u><br>
         &nbsp;Nous favorisons dor&eacute;navant les entreprises priv&eacute;es acceptant au pr&eacute;alable d'&ecirc;tre
         acteurs de formation et de ne pas &ecirc;tre utilisateurs.<br>
         &nbsp;Nous leur demandons, afin de v&eacute;rifier leur motivation, la prise en charge d'une indemnit&eacute;
        </td>
        <td style="border:1px solid black;">
         &nbsp;Recherche de partenaires priv&eacute;s ou publics ayant une envie de s'investir dans l'insertion
        </td>
       </tr>
       <tr>
        <td style="border:1px solid black;">
         &nbsp;Pr&eacute;paration &agrave; la sortie du salari&eacute; Individuel
        <td style="border:1px solid black;">
         &nbsp;R&eacute;unions r&eacute;guli&egrave;res avec l'animatrice sociale tel que pr&eacutecis&eacute; ci-dessus dans un autre chapitre
        </td> 
        <td style="border:1px solid black;">
         &nbsp;Contacts et &eacute;changes avec les partenaires
        </td>
       </tr>
      </table>
     </p>

    <h3>Commentaires sur la r&eacute;alisation :</h3>
    <p style="color:#000000;">
     Cette activit&eacute; est r&eacute;alisable avec un public motiv&eacute;, disponible et qui a une envie v&eacute;ritable
     d'insertion, sans position d'attente. C'est pour cette raison que l'association propose des contrats de courte dur&eacute;e,
     renouvelables.
    </p>
    </div>
   <div class="toggle-trigger">Formation</div>
    <div class="toggle-container">
     <p>
    <table style="color:#000000;width:100%;">
     <tr>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Actions mises en place (objectifs)</th>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Outils et moyen en interne</th>
      <th style="border:1px solid black;width:20%;text-align:center;font-weight:bold;">
       Outils et moyens des partenaires</th>
     </tr>
     <tr>
      <td style="border:1px solid black;">
       &nbsp;Acc&egrave;s aux soins et aux droits Collectif
      </td>
      <td style="border:1px solid black;">
       &nbsp;Salle de formation
      </td>
      <td style="border:1px solid black;">
       &nbsp;MSA
      </td>
     </tr>
     <tr>
      <td style="border:1px solid black;">
       &nbsp;Reconnaissance des acquis par l'exp&eacute;rience Collectif
      </td>
      <td style="border:1px solid black;">
       &nbsp;Salle de formation
      </td>
      <td style="border:1px solid black;">
       &nbsp;MSA
      </td>
    </tr>  
    <tr>
     <td style="border:1px solid black;">
      &nbsp;Formation s&eacute;curit&eacute; Collectif</td>
     <td style="border:1px solid black;">
      &nbsp;Salle de formation</td>
     <td style="border:1px solid black;">
      &nbsp;A l'interne
     </td>
    </tr>  
    <tr>
     <td style="border:1px solid black;">
      &nbsp;Ouverture sur des Forums Emplois et Apprentissage Collectif</td>
     <td style="border:1px solid black;">
      &nbsp;Salle de formation</td>
     <td style="border:1px solid black;">
      &nbsp;En relation avec la MSA</td>
    </tr>  
    <tr>
     <td style="border:1px solid black;">
     &nbsp;Apprentissage des gestes et postures Collectif</td>
     <td style="border:1px solid black;">
      &nbsp;Sur site
     </td>
     <td style="border:1px solid black;">
      &nbsp;A l'interne
     </td>
    </tr>    
    <tr>
     <td style="border:1px solid black;">
      &nbsp;Formation remise &agrave; niveau et parcours pr&eacute;-qualifiant Individuel
     </td>
     <td style="border:1px solid black;">
      &nbsp;Au sein de l'organisme de formation
     </td>
     <td style="border:1px solid black;">
      &nbsp;GRETA-UPROMI PARTAGE 77
     </td>
    </tr>    
    <tr>
     <td style="border:1px solid black;">
      &nbsp;Acc&egrave;s au permis de conduire Individuel
     </td>
     <td style="border:1px solid black;">
      &nbsp;Au sein de l'organisme de formation
     </td>
     <td style="border:1px solid black;">
      &nbsp;PIJE
     </td>
    </tr>   
    <tr>
     <td style="border:1px solid black;">
      &nbsp;Formation secourisme Individuel
     </td>
     <td style="border:1px solid black;">
      &nbsp;Salle de formation &agrave; l'interne
     </td>
     <td style="border:1px solid black;">
      &nbsp;Formateur professionnel PIJE
     </td>
    </tr>
   </table>
  </p>
    
 </div>
  <!-- ENDS Toggle --> 
</div>

<div class="blankSeparator1"></div>

{%endblock%}